Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/MovementAnimsetPro/SourceFiles/SourceFiles.zip
Content/ProceduralNaturePack/Textures/ground_mud_bsm_8192.uasset
Content/ProceduralNaturePack/Textures/ground_mud_no_puddle_bsm_8192.uasset
Content/ProceduralNaturePack/Textures/ground_mud_no_puddle_nrm_8192.uasset
Content/ProceduralNaturePack/Textures/ground_mud_no_puddle_rgm_8192.uasset
Content/ProceduralNaturePack/Textures/ground_mud_no_puddle_spe_8192.uasset
Content/ProceduralNaturePack/Textures/ground_mud_nrm_8192.uasset
Content/ProceduralNaturePack/Textures/ground_mud_plx_8192.uasset
Content/ProceduralNaturePack/Textures/ground_mud_rgm_8192.uasset
Content/KiteDemo/*
Content/Maps/JoshLevel2_BuiltData.uasset
Content/SoulCave/Maps/LV_Soul_Cave.umap
Content/SoulCave/Maps/LV_Soul_Cave_BuiltData.uasset
Content/SoulCave/Maps/LV_Soul_Cave_Mobile.umap
Content/SoulCave/Maps/LV_Soul_Cave_Mobile_BuiltData.uasset
Content/SoulCave/Maps/Overview.umap
Content/SoulCave/Maps/Overview_BuiltData.uasset
Ai character.docx
Content/HoudiniEngine/
Content/ModularCliffs/Materials/Textures/T_env_sky_HDR.uasset
Content/ModularCliffs/Levels/Demonstration.umap
Content/ModularCliffs/Levels/Island_Example.umap
Content/ModularCliffs/Levels/Overview.umap
.vs/Animancer2/v15/Solution.VC.db-shm
.vs/Animancer2/v15/Solution.VC.db-wal
.vs/Animancer2/v15/ipch/AutoPCH/5b4317d6e90afe30/COMBATCHARACTERMOVEMENTCOMPONENT.ipch
.vs/Animancer2/v15/ipch/AutoPCH/d140b75f49d02a5/CHARACTERMOVEMENTCOMPONENT.ipch
.vs/Animancer2/v15/ipch/AutoPCH/ec1b82cd36454d51/PAPERCHARACTER.ipch
Source/Animancer2/CombatCharacterMovementComponent.h
Source/Animancer2/CombatCharacterMovementComponent.cpp
.vs/Animancer2/v15/ipch/AutoPCH/2d0bb08e0ea33c37/LIVELINKPREVIEWCONTROLLER.ipch
